html,
body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
}

.app-logo {
  float: left;
  height: 150px;
  width: 240px;
  padding: 10px 0 0 0;
  background-color: #363636;
}

.app-logo img {
  width: 60%;
  height: 80%;
}

.app-logo h4 {
  margin: 0;
  padding: 0;
  color: #61dafb;
  font-weight: 100;
}

.react-logo {
  display: inline;
  padding: 20px;
}

.react-img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  width: 100%;
  height: calc(100vh - 150px);
}

.sidebar {
  height: 100%;
  width: 240px;
  background-color: #111;
  padding: 20px 10px 60px 10px;
  float: left;
}

.sidebar-list {
  height: 100%;
  overflow: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0 10px;
}

.sidebar-filter {
  padding: 5px 25px 20px 10px;
  border-bottom: 1px solid #444;
}

#locations-filter {
  height: 30px;
  width: 100%;
  font-size: 12pt;
}

.map-container {
  width: calc(100% - 240px);
  height: 100%;
  display: inline-block;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

.info-window h4, p{
  padding:2px;
  margin:0;
}

.location-item {
  padding: 10px 5px;
  color: #aaa;
  cursor: pointer;
  border-bottom: 1px solid #444;
  text-align: right;
}

.location-item:hover {
  background-color: #303030;
  color: #61dafb;
}

.no-display {
  display: none;
}

.active-location {
  background-color: #61dafb;
  color: #000;
}