html,
body {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left-container {
  height: 100%;
  width: 240px;
  background-color: rgb(241,241,241);
  display:inline-block;
  box-shadow:0 5px 10px 10px #000;
}

.app-logo {
  height: 200px;
  width: 240px;
  display: block;
  background-color: #363636;
  text-align: center;
}

.app-logo img {
  margin-top:20px;
  width: 60%;
  height: 70%;
}

.app-logo h4 {
  margin: 0;
  padding: 0;
  color: #61dafb;
  display: block;
}

.locations-bar {
  height:calc( 100% - 240px);
  border-right: 1px solid #999;
}

.locations-list {
  height:calc( 100% - 30px);
}

.locations-list ul {
  padding: 0 10px;
  height:100%;
  overflow: auto;
  margin: 0;
}

.location-item {
  padding: 10px 5px;
  color: #333;
  cursor: pointer;
  border-bottom: 1px solid #999;
  text-align: right;
  display: block;
}

.location-item:hover {
  background-color: #bbb;
  color: #333;
}

.active-location {
  background-color: #444;
  color: #ddd;
}

.locations-filter {
  background-color: #00f;
  padding: 20px 15px 20px 10px;
  border-bottom: 1px solid #444;
}

#filter-select {
  height: 30px;
  width: 100%;
  font-size: 12pt;
}

.App {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}
.map-container {
  width: 100%;
  height: calc( 100% - 50px);
  display: inline-block;
}
#map {
  width: 100%;
  height: 100%;
}

.gm-style-iw h3,
p {
  padding: 2px;
  margin: 0;
}

.gm-style-iw :nth-child(2) {
  max-height: 200px;
  max-width: 260px;
  overflow: auto;
  height: auto;
}

.gm-style-iw img{
  margin:5px;
  display:inline-block;
}

.no-display{
  display: none;
}