html,
body {
  background-color: #222;
  width: 100%;
  height: 100vh;
}

.app {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #222;
}

* {
  box-sizing: border-box;
}

#main {
  float: left;
  height: calc( 100% - 40px);
  width: calc( 100% - 240px);
}

#map {
  height: 100%;
  width: 100%;
  float: left
}

header {
  max-height: 80px;
  min-width: 120px;
  color: white;
  padding-right: 10px;
  display: flex;
}

.app-logo {
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
}

.app-logo img {
  margin: 10px 5px 0 10px;
}

.app-logo h4 {
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  color: #00d9ff;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  font-size: 1.2em;
}

.sidebar-switch {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  margin: 25px 10px 20px 0;
  position: relative;
  margin-left: 10px;
  background-image: url(img/sidebar-switch.png);
  /*original image from https://www.onlinewebfonts.com/icon/248745*/
  background-size: 100% 100%;
}

.sidebar-switch:focus {
  outline: 2px dotted #c4ecff;
}

.sidebar-switch:hover {
  background-image: url(img/sidebar-switch-hover.png);
}

.search-form {
  height: 80px;
  width: 220px;
  max-width: calc(100% - 60px);
  margin-left: auto;
  float: right;
}

#search-input {
  height: 30px;
  width: 185px;
  max-width: calc(100% - 35px);
  font-size: 16px;
  border: none;
  margin-top: 30px;
  padding-left: 5px;
  color: #0f0d0d;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #f7f6e2;
  box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  display: inline-block;
  position: relative;
}

#search-input:focus {
  outline: 0;
  background-color: #c4ecff;
}

#search-button {
  height: 30px;
  width: 35px;
  background: #ddd;
  margin-top: 30px;
  font-size: 16px;
  float: right;
  border: none;
  padding: 0;
  position: relative;
  background-image: url(img/search-btn.png);
  background-repeat: no-repeat;
  background-position: 5px 3px;
  background-color: transparent;
  background-size: 25px 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #0f0d0d;
  background-color: #f7f6e2;
  box-shadow: 0 -2px 2px 0 #c7c7c78c, 0 1px 1px 0 #fff, 0 2px 2px 1px #b2b2b2, 0 2px 4px 0 #fafafa inset, 0 -1px 1px 0 #b2b2b2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

#search-button img {
  display: block;
  width: 100%;
}

#search-button:focus {
  outline: 0;
  background-color: #c4ecff;
}

#search-button:hover {
  background-color: #c4ecff;
}

#locations-bar {
  display: block;
  float: left;
  height: calc( 100% - 40px);
  width: 240px;
}

.locations-list {
  width: 100%;
  height: calc( 100% - 80px);
  padding: 0 10px 0 0;
  margin: 0;
  overflow: auto;
  list-style: none;
}

.location-item {
  width: 100%;
  padding: 10px 5px 10px 0;
  color: #afafaf;
  cursor: pointer;
  border-bottom: 1px solid #4e4e4e;
  text-align: right;
}

.location-item:hover {
  color: #00d9ff;
}

.active-location {
  background-color: #555;
  color: #00d9ff;
}

.locations-filter {
  padding: 20px 20px 20px 10px;
  background-color: #333;
}

#filter-select {
  height: 30px;
  margin-top: 10px;
  width: 100%;
  font-size: 12pt;
  border-radius: 15px;
  background-color: #f7f6e2;
  box-shadow: 0 -2px 2px 0 #c7c7c78c, 0 1px 1px 0 #fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

#filter-select:focus {
  outline: 0;
  background-color: #c4ecff;
}

/*
* info window attributtes
*/

.gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw fieldset {
  max-height: 200px;
  max-width: 260px;
  overflow: auto;
  border: none;
  padding-left: 0;
}

.gm-style-iw img {
  margin: 5px;
  display: inline-block;
}

.gm-style-iw #info-window-action-btn {
  font-size: 12px;
  cursor: pointer;
  float: right;
  color: #00f;
}

/*
* hidden filtered element on location list
*/

.no-display {
  display: none;
}

/*
*footer
*/

footer {
  width: 100%;
  height: 40px;
  font-size: 10pt;
  color: #b3b3b3;
  position: relative;
  display: flex;
  bottom: 0;
  background-color: inherit;
}

footer p {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

footer a {
  color: #00acca;
  text-decoration: none;
  font-size: 9pt;
}

footer a:hover {
  color: #00d9ff;
}

.footer-description {
  float: left;
  text-align: right;
  padding: 5px 30px 0 0;
  width: 40%;
  font-size: 8pt;
}

.footer-credits {
  padding: 0 30px 0 30px;
  display: inline;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
  line-height: 40px;
}

.footer-credits img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

.footer-api {
  padding: 0 0 0 30px;
  display: inline;
  line-height: 40px;
}

.footer-api img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

.image-rotation {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
* attributtes for error modal popup
*/

#error-modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#error-modal h4,
h5,
p,
span {
  margin: 0;
  padding: 5px 0;
  font-weight: 100;
  font-size: 10pt;
  overflow: auto;
}

#error-modal span {
  color: #555;
}

.error-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.error-header {
  padding: 2px 16px;
  height: 30px;
  background-color: rgb(255, 60, 0);
  color: white;
  border-top-right-radius: 20px;
}

.error-body {
  padding: 2px 16px;
}

.error-footer {
  height: 50px;
  padding: 10px 16px 0 16px;
  background-color: #999;
  color: white;
  display: flex;
  border-bottom-left-radius: 20px;
}

#error-ok-btn {
  height: 30px;
  width: 50px;
  display: block;
  margin-left: auto;
  float: right;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

/*
* media queries for responsive design
*/

@media only screen and (max-width: 1040px) {
  .footer-description {
    display: none;
  }
  .footer-credits {
    width: 40%;
  }
  .footer-api {
    width: 60%;
  }
  @media  only screen and (max-width: 700px) {
    .app-logo {
      display: none;
    }
    .footer-api {
      display: none;
    }
    .footer-credits {
      text-align: center;
      width: 100%;
    }
    @media  only screen and (min-width: 481px) {
      #locations-bar {
        display: block;
      }
    }
  }
}

@media only  screen and (max-width: 480px) {
  #locations-bar {
    display: none;
  }
  #main {
    width: 100%;
  }
}

@media  only screen and (max-height: 321px) {
  footer {
    display: none;
  }
  .main {
    top: 80px;
    height: (100% - 80px);
  }
  #locations-bar {
    height: 100%;
  }
}